In [6]:
import pandas as pd
# Study data files
mars_data = pd.read_html('https://galaxyfacts-mars.com')

#print(f'total tables: {len(mars_data)}')
df0 = mars_data[0]
df0.head(20)

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [ ]:
mars_str = ""
mars_str = df0.to_html()
cities_str

In [7]:
df1 = mars_data[1]
df1.head(20)

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [3]:
#cities_str = ""
#cities_str = cities_data_df.to_html()
#cities_str

In [3]:
#file= open("my.html","w")
##write then close file
#file.write(cities_str)
#file.close()